<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :views %><br>
    <%= f.number_field :views %>
  </div>
  <div class="field">
    <%= f.label :die_votes %><br>
    <%= f.number_field :die_votes %>
  </div>
  <div class="field">
    <%= f.label :fun_votes %><br>
    <%= f.number_field :fun_votes %>
  </div>
  <div class="field">
    <%= f.label :thumbnail %><br>
    <%= f.text_field :thumbnail %>
  </div>
  <div class="field">
    <%= f.label :content_image %><br>
    <%= f.text_field :content_image %>
  </div>
  <div class="field">
    <%= f.label :content_video %><br>
    <%= f.text_field :content_video %>
  </div>
  <div class="field">
    <%= f.label :content_html %><br>
    <%= f.text_area :content_html %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :slider_id %><br>
    <%= f.text_field :slider_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
