<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Views:</strong>
  <%= @item.views %>
</p>

<p>
  <strong>Die votes:</strong>
  <%= @item.die_votes %>
</p>

<p>
  <strong>Fun votes:</strong>
  <%= @item.fun_votes %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @item.thumbnail %>
</p>

<p>
  <strong>Content image:</strong>
  <%= @item.content_image %>
</p>

<p>
  <strong>Content video:</strong>
  <%= @item.content_video %>
</p>

<p>
  <strong>Content html:</strong>
  <%= @item.content_html %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @item.keywords %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @item.priority %>
</p>

<p>
  <strong>Slider:</strong>
  <%= @item.slider %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
